@import "tailwindcss";

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-scroll {
  display: inline-block;
  animation: scroll 40s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));

